<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=DESKTOP-RMABJLQ;Initial Catalog=TalentDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--
    <add name="DBConnectionString" connectionString="Server=tcp:talentdatabase.database.windows.net,1433;Initial Catalog=Talent;Persist Security Info=False;User ID=HR;Password=@@Is29127506;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="DBConnectionString" connectionString="Data Source=DESKTOP-RMABJLQ;Initial Catalog=TalentDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="DBConnectionString" connectionString="Data Source=210.242.73.220;Initial Catalog=is_recruit_db;Persist Security Info=True;User ID=is_dev;Password=is_dev" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
</configuration>